<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %>
					<%= image_tag @user.avatar(:thumb) %>
      </h1>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> + Tribute </button>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.tributes.any? %>
      <h3>Tributes I follow:(<%= @user.tributes.count %>)</h3>
      <ol class="tributes">
        <%= render @tributes %>
      </ol>
      <%= will_paginate @tributes %>
    <% end %>
  </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <div id="error_explanation" style="display:none;">
         </div>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Memorialize your loved one with a Tribute.</h4> *All fields are required

      </div>
    
        <%= form_for(@tribute, :html => { :multipart => true }) do |f| %>
          <div class="modal-body">
            <ul class="errors"></ul>

            <div class="control-group">
              <%= f.label :name, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :name  %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :obituary, "Words you'd like to say" %>
              <div class="controls">
                <%= f.text_area :obituary, size: "20x6" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :dobirth, "Date of Birth" %>
              <div class="controls">
                <%= f.date_field :dobirth %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :dodeath, "Date of Passing" %>
              <div class="controls">
                <%= f.date_field :dodeath %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :image, "Image" %>
              <div class="controls">
                <%= f.file_field :image %>
              </div>
            </div>
          </div>
            <%= f.submit "Create Tribute", class: "btn btn-large btn-primary" %>
          <% end %>